body {
  background-color: #f8f9fa;
}

h1 {
  color: #003366;
}

//hero

.hero {
  padding: 4rem 1.5rem;
  background: #f5f7fa;
  border-radius: 0.5rem;
}

.hero__content {
  max-width: 700px;
}

.hero__title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero__description {
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
  color: #444;
}

.hero__actions {
  display: flex;
  gap: 1rem;
}

.button {
  padding: 0.6rem 1.2rem;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 600;
}

.button--primary {
  background: #2563eb;
  color: white;
}

.button--secondary {
  background: #e5e7eb;
  color: #111;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.sidebar-nav {
  position: sticky;
  top: 2rem;
}

.usa-accordion__content {
  padding: 1rem;
}

.usa-accordion__content p {
  margin-bottom: 0.5rem;
}

.usa-accordion__content {
  font-size: 1rem;
  line-height: 1.5;
}

// Fix Card Grid

/* Make grid columns stretch */
.grid-row {
  align-items: stretch;
}

/* Make card fill full height */
.usa-card {
  height: 100%;
  display: flex;
}

/* Make inner container flexible */
.usa-card__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Push footer to bottom */
.usa-card__footer {
  margin-top: auto;
}

.grid-row.grid-gap > div {
  margin-bottom: 2rem; /* space between rows */
}

.code-example{
  background-color: #f5f7fa;
  padding: 1rem;
  border-radius: 0.5rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9rem;
  overflow-x: auto;
}

.sidebar-nav{
  position: sticky;
  top: 2rem;
  li{
    list-style: none;
  }
  a{
    display: block;
    padding: 0.5rem 1rem;
    color: #003366;
    text-decoration: none;
    border-radius: 4px;
  }
}

.nav-link.active,
.sidebar-nav a.active {
  font-weight: bold;
  color: #005ea2; /* USWDS link highlight */
}