---
layout: base-proto.njk
---
<main class="grid-container">
    <div class="grid-row">
        <div class="grid-col-12">
            <div class="header">
                <h1>{{agencyDetails.title}}</h1>
            </div>
        </div>
        <div class="grid-col-12">
            <div class="highlight-image">
                <img src="https://placehold.co/400" alt="Agency Logo" class="agency-icon"/>
                <div class="caption-container">
                    <span class="caption"><small>{{agencyDetails.caption}}</small></span>
                </div>
            </div>
        </div>
        <div class="grid-col-12">
            <div clsss="highlight-content">
                <h2>Overview</h2>
                {{ content | safe}}
            </div>
        </div>
        <div class="grid-col-12">
            <div class="highlight-agency">
                <h3 id="highlight__agency">Related Resources</h3>
                <ul>
                <li><a href="">Highlighted USDA Activities</a></li>
                <li><a href="">USDA Climate Hubs</a></li>
                <li><a href="">Forest Service (USDA-FS) - Climate Change</a></li>
                <li><a href="">Economic Research Service (ERS) - Climate Change</a></li>
                </ul>
            </div>
        </div>
    </div>
</main>