<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ title | default("Pattern Library Demo") }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    {% block content %}{% endblock %}
    <button class="usa-button">USWDS Button Test</button>
  </body>
</html>