<h3>Primary Button</h3>
<button class="usa-button" type="button">Default</button>
<h3>Secondary Button</h3>
<button class="usa-button usa-button--secondary" type="button">Default</button>
<h3>Outline Button</h3>
<button class="usa-button usa-button--outline" type="button">Default</button>
<h3>Disabled Button</h3>
<button class="usa-button" type="button" disabled>Default</button>
<h3>Big Button</h3>
<button class="usa-button usa-button--big" type="button">Default</button>
<h3>Accent Cool</h3>
<button class="usa-button usa-button--accent-cool" type="button">Default</button>
<h3>Accent Warm</h3>
<button class="usa-button usa-button--accent-warm" type="button">Default</button>